{% extends 'base.html.twig' %}

{% block title %}mon CV!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    {% include("menu.html.twig") %}
 

<div class="CV">
        <p>Lopez Rudy</p>
        <p>49 rue du 1ier mai Houplin-Encoisne 59800 <br>
        Téléphone : 06 70 41 38 29<br>
        Mail : rudy.lopez.houplin@gmail.com</p>
        

    <h2>Développeur d’applications, passionné d’informatique</h2>

        <p>Récemment entré en formation professionnelle après un baccalauréat spécialisé en informatique, je suis à la
            recherche d’un stage professionnalisant du 27 février au 23 juin 2023. Pourvu d’une bonne capacité d’analyse et
            d’une soif d’apprendre, je pense avoir le profil idéal pour évoluer dans le secteur du numérique.</p>


    <h1>Compétences</h1>
    <h2> programation </h2>
    <ul>
        <li>PHP (objet, motif MVC)</li>
        <li>Java SE</li>
        <li>javascript</li>
    </ul>
    <h2>Framework :</h2>
    <p>Symfony 4</p>
    <h2>CMS :</h2>
    <p>Wordpress</p>
    <h2>Serveur de Base de données :</h2>
    <p> MYSQL </p>
    <h2>Méthodologie :</h2>
        <p>Merise</p>
            <p>UML</p>
    <h2>Serveur Web :</h2>
    <p>Apache</p>
    <h2> Technologies Web :</h2>
    <ul>
    <li>Javascript</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>jQuery</li>
    </ul>
    <h2>Outils de développement :</h2>
    <ul>
        <li>vscode</li>
        <li>GIT</li>
        <li>Notepad++</li>
        <li>Eclipse</li>
        <li>NetBeans</li>
    </ul>
    <h2>Autres</h2>
    <p>Python 3 : scripting, automatisation</p>

    <h2>Formation</h2>
        <p>2020-2023 Formation professionnelle Développeur Web et Web Mobile.</p>
        <p>Centre de formation Paul et Liliane Guinot</p>
        <p>2019-2020 Baccalauréat Scientifique, option Informatique et Création Numérique</p>
        <p>Lycée Beaupré Haubourdin, Lille</p>
    <h2>Expérience</h2>
    <p>Du 3 mai au 12 Juillet 2022 : Stage à la DTEO d’EDF.</p>
    <h4>
        <p>Participation (teste et codage) au projet d’accessibilité sur l’application EDF dom & corse</p>
    </h4>
    
    
    
    <h3>Centres d’intérêt</h3>
        <p>Littérature de science-fiction : Simmons, Heinlein, Baxter, etc.</p>
        <p>Intérêt pour l’actualité scientifique et high-tech</p>
        <p>Intérêt pour l’histoire</p>
        
        <p>Autoformation en programmation robotique et linux sur raspberryPi</p>


</div>
{% endblock %}
