<div class="menu">



        <a class="navbar-brand" href="{{ path('home')}}">Accueil</a>
            
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_apropos')}}">a propos</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_mesSite')}}">mes sites</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_monCv')}}">mon cv</a></li>

</div>
